<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
      input {
        width: 60px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>
      <div class="row" ng-controller="Controller1 as ctrl1">
        <!-- To Buy List -->
        <div class="col-md-7">
          <h2>To Buy:</h2>
          <ul>
            <li ng-repeat="item in ctrl1.items">
              Buy {{item.quantity}} {{item.name}}(s) at {{item.pricePerItem}} each
              <input type="text" ng-model="item.quantity" />
              <button class="btn btn-default" ng-click="ctrl1.removeItem($index);"">
                <span class="glyphicon glyphicon-ok"></span> Bought
              </button>
            </li>
          </ul>
          <div class="emptyMessage" ng-show="!ctrl1.items.length">Everything is bought!</div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-5" ng-controller="Controller2 as ctrl2">
          <h2>Already Bought:</h2>
          <ul>
            <li ng-repeat="item2 in ctrl2.items">Bought {{item2.quantity}} {{item2.name}}(s) for a total price of 
              {{ctrl2.getTotalItemCost(item2.quantity, item2.pricePerItem) | currency : '$$$$$$' : 2}}</li>
          </ul>
          <div class="emptyMessage" ng-show="!ctrl2.items.length">Nothing bought yet.</div>
        </div>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
